.hero__section {
  width: 100vw;
  height: 100vh;
}

.hero__video {
  filter: brightness(70%);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero__text_input_contener {
  display: flex;
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hero__text_input_contener h3 {
  font-size: clamp(35px, 5vw, 60px);
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
}
.hero__text_input_contener p {
  color: rgb(240, 240, 240);
  font-size: clamp(15px, 5vw, 25px);
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.hero__input_inputIcon_div {
  width: 80%;
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__input_inputIcon_div input {
  display: flex;
  width: 90%;
  padding: 1rem;
  border: none;
  height: 45px;
  border-radius: 5px;
}
.hero__input_inputIcon_div input:focus {
  outline: none;
  border: none;
}

.hero__inputIcon {
  background-image: linear-gradient(
    to left,
    rgb(124, 124, 221),
    rgb(61, 61, 189)
  );
  font-size: 45px;
  position: relative;
  right: 0.3rem;
  padding: 0.4rem;
  border-radius: 5px;
}
